.ReactModalPortal>div{
  opacity: 1;

}

.ReactModalPortal .ReactModal__Overlay{
    transition: opacity 200ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

}
.ReactModalPortal .ReactModal__Overlay-after-open{
    opacity: 1;
     
 }
.ReactModalPortal .ReactModal__Overlay-before-close{
   opacity: 0;
    
}

.modal{
    background: $light-blue;
    color: $off-light;
    width: 50%;
    height: 50%;
    outline: none;
    padding: $s-size;
    
    text-align: center;
   
    
}

 .modal__title{
     margin: 0 0 $m-size 0;
     font-size: $l-size;


 }

 .modal__body{
font-size: $m-size;
font-weight: 200;
    margin: 0 0 $m-size 0;
    word-break: break-all;
 }