html{
    font-size: 65.5%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    
background: $dark-blue;
}

h1{
    font-size: $l-size;
}

button{
    cursor: pointer;
}
button:disabled{
    cursor: default;
}