//colors

$off-black: #20222b;
$off-light:#a5afd7;
$dark-blue: #333745;
$purple: #8357c5;
$blue: #3c4251;
$light-blue: #464b5e;

//spacing 
$desktop-breakpoint: 45rem;


//size
$s-size: 1.3rem;
$l-size: 3.2rem;
$m-size: 2rem;
$xl-size: 4.8rem;

//body background